/* Styling for all pages */
nav {
    background-color: #228b22;
}

nav a {
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    text-align: justify;
    margin: 140px;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
}

nav a:hover {
    color: whitesmoke;
}

.current {
    text-transform: uppercase;
}

body#home, html {
    height: 100%;
    margin: 0;
}
.start_image, .about_image, .players_image, .teams_image {
    position: relative;
    opacity: 0.65;
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.start_image {
    background-image:url('../images/breg_bat.jpg');
    min-height: 100%;
    margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    nav a {
        margin: 10px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div#baseball-cards {
        display:grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 15px;
    }

    input[type=text], select, textarea {
        width: 95%;
    }
    
}

@media screen and (min-width: 481px) {
    nav {
        /*Your code here again.*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }

    nav a {
        margin: 10px;
    }

    div#baseball-cards {
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 15px;
    }

    input[type=text], select, textarea {
        width: 98%;
    }

}

@media screen and (min-width: 1025px) {
    div#baseball-cards {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 15px;
    }

    input[type=text], select, textarea {
        width: 100%;
    }
}

/* For index.html */

/* .about_image {
    background-image:url('../images/degrom_pitch.jpg');
    min-height: 400px;
    margin-bottom: 50px;
}

.players_image {
    background-image:url('../images/tatis_bat.jpg');
    min-height: 300px;
    margin-bottom: 50px;
}

.teams_image {
    background-image:url('../images/trout_bat.jpg');
    min-height: 200px;
    margin-bottom: 50px;
} */
/* .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
} */

/* For about.html */
input[type=submit] {
    margin-bottom: 10px;
}

p.bio {
    margin-top: 10px;
    margin-bottom: 10px;
}

img#citi {
    width: 250px;
    height: 300px;
}


/* For players.html */

.baseball-card {
    border-style: hidden;
    margin-top: 20px;
    background-color: transparent;
    width: 300px;
    height: 450.7px;
    perspective: 1000px;
}

.baseball-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.baseball-card:hover .baseball-card-inner, 
.baseball-card:focus-within .baseball-card-inner,
.baseball-card:focus .baseball-card-inner {
    transform: rotateY(180deg);
}

.baseball-card-front, .baseball-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.baseball-card-front {
    background-color: #bbb;
    color: black;
}

.baseball-card-back {
    background-color: #005A9C;
    color: white;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    transform: rotateY(180deg);
}

p.headline {
    font-size: 15px;
    text-align: right;
    margin-top: 25px;
    margin-right: 10px;
}

.baseball-card-back img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40px;
    left: 15px;
}

p.description {
    display:inline-block;
    font-size:10px;
    margin-top:50px;
}

/* For team.html */
.team img {
    width: 100px;
    height: 100px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* For all pages */

footer {
    background-color: #228b22;
}

footer p {
    margin-top: 20px;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
}

@media all and (prefers-reduced-motion:reduce){
    img {
        animation:none;
    }
}