nav {
    background-color: #228b22;
}

nav a {
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    text-align: justify;
    margin: 140px;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
}

nav a:hover {
    color: whitesmoke;
}

@media screen and (max-width: 480px) {
    nav {
        /*Your code here again.*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    nav a {
        margin: 10px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 481px) {
    nav {
        /*Your code here again.*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }

    nav a {
        margin: 10px;
    }
}

@media screen and (min-width: 1025px) {
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
}

footer {
    background-color: #228b22;
}

footer p {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    color: black;
}